.mixcloud-player {
  position: fixed;
  bottom: -20px;
  left: 20px;
  padding: 10px 20px;
  background: black;
  color: white;
  border-radius: 100px;
  transition: bottom 1s;
  
  iframe {
    visibility: hidden;
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  
  &.has-song {
    bottom: 20px;
  }
}