<div class="writingwrapper">
  <section class="text">
      <article>
          <div class="body">
              <p>You can find You'll Soon Know monthly Thursdays from 2-4pm BST (10-12am Eastern / 7-9am Pacific) on <a href="http://nts.live" target="_blank">NTS Radio</a>, broadcasting live from Gillet Square in Dalston.</p>

              <p>The show is hosted by <a href="http://twitter.com/timparker" target="_blank">Tim Parker</a> and aims to showcase some of the finest music from around the world, with a focus on beats and experimental electronica.</p>

              <p>You can follow on <a href="http://twitter.com/youllsoonknow" target="_blank">Twitter</a>, <a href="https://open.spotify.com/user/1172836294/playlist/0m9BUFqLrNt4TgAnE47XHK?si=6-HriTC_TsWWK-fFkVIeww" target="_blank">Spotify</a>, or on <a href="https://mixcloud.com/youllsoonknow" target="_blank">Mixcloud</a>.</p>
              
              <p>For booking enquiries please contact iamtimparker@gmail.com.</p>
              
              <p><a href="http://youllsoonknow.tumblr.com" target="_blank">2009</a> till infinity.</p>
          </div>
      </article>
  </section>
</div>
