<div class="writingwrapper">
  <section class="text">
      <article>
          <div class="body">
              <p>You can find You'll Soon Know every other Wednesday afternoon from 3-5pm GMT (10-12am Eastern / 7-9am Pacific). Listen live on <a href="http://nts.live" target="_blank">NTS Radio</a>, broadcasting live from Gillet Square in Dalston.</p>

              <p>The show is hosted by <a href="http://twitter.com/timparker" target="_blank">Tim Parker</a> and aims to showcase some of the finest music from around the world, with a focus on beats and experimental electronica.</p>
          </div>
      </article>
  </section>
</div>
