<header>
  <div class="navwrapper">
    {{#link-to 'shows' class="name"}}You'll Soon Know{{/link-to}}

    <nav role='navigation'>
      <ul>
        <li>{{#link-to 'shows'}}Archive{{/link-to}}</li>
        <li>{{#link-to 'schedule'}}Schedule{{/link-to}}</li>
        <li>{{#link-to 'about'}}About{{/link-to}}</li>
        <li><a href='http://youllsoonknow.tumblr.com' target="_blank">Blog</a></li>
        <li><a href='http://twitter.com/youllsoonknow' target="_blank">Twitter</a></li>
        <!-- If time = scheduled show -->
        <!-- <li><a href="http://nts.live" class="listen-live" target="_blank">Listen Live</a></li> -->
        <!-- endif -->
      </ul>
    </nav>
  </div>
</header>

{{outlet}}

{{mixcloud-player show=streamingShow}}
