<div class="writingwrapper">
  <section class="text">
      <article>
          <div class="body">
              {{#each latestSchedule as |schedule|}}
                <p>{{schedule.title}} - {{moment-format schedule.date "Do MMMM YYYY"}} {{schedule.start}} - {{schedule.end}} GMT</p>
                <!-- (Show in their timezone? fak how) -->
              {{/each}}
          </div>
      </article>
  </section>
</div>
