<div class="writingwrapper">
  <section class="text">
      <article>
          <div class="body">
              {{#each latestSchedule as |schedule|}}
                <p>{{schedule.title}} {{schedule.date}}</p>
              {{/each}}
          </div>
      </article>
  </section>
</div>
